[submodule "scripts/arc-xcode-test-engine"]
	path = scripts/arc-xcode-test-engine
	url = https://github.com/google/arc-xcode-test-engine.git
[submodule "scripts/clang-format-linter"]
	path = scripts/clang-format-linter
	url = https://github.com/vhbit/clang-format-linter.git
[submodule "scripts/arc-jazzy-linter"]
	path = scripts/arc-jazzy-linter
	url = https://github.com/google/arc-jazzy-linter.git
[submodule "scripts/arc-proselint"]
	path = scripts/arc-proselint
	url = https://github.com/google/arc-proselint.git
[submodule "scripts/arc-regex-line-length-linter"]
	path = scripts/arc-regex-line-length-linter
	url = https://github.com/google/arc-regex-line-length-linter.git
